MONGO_CONN_STR=mongodb://localhost:27017
MONGO_DB={{ mongo_db }}

BACKEND_URL=http://{{ public_ip }}:{{ backend_port }}/

LISTEN_ADDRESS=0.0.0.0
HTTP_PORT={{ backend_port }}

LOG_RETENTION_PERIOD=30d
DATA_RETENTION_PERIOD=365d
TOP_ENTITIES_CACHE_DURATION=5m
SESSION_LENGTH=30d